{{#if (eq type "thumb")}}

  {{#x-file-input action=(action "uploadThumb" model) accept=acceptTypes class="btn btn-default"}}
      <span class="	glyphicon glyphicon-plus"></span>
  {{/x-file-input}}
  <a class="btn btn-default view-btn"
     disabled={{eq model.thumb.thumb_path.url "http://localhost:3000/fallback/default.png"}}
     href={{model.thumb.thumb_path.url}}
  >
      {{#if (not-eq model.thumb.thumb_path.url "http://localhost:3000/fallback/default.png")}}
          <span id="thumb-progress-{{model.id}}">Thumb</span>
      {{else}}
          <span id="thumb-progress-{{model.id}}">No File</span>
      {{/if}}
  </a>
  <label class="btn btn-danger"
         for="thumb-delete-{{model.id}}"
         disabled={{eq model.thumb.thumb_path.url "http://localhost:3000/fallback/default.png"}}
  >
      {{input id=(concat "thumb-delete-" model.id) type="checkbox" name="Delete Thumb" checked=model.remove_thumb_path}}
      {{#if model.remove_thumb_path}}
          <span class="glyphicon glyphicon-ban-circle"></span>
      {{else}}
          <span class="glyphicon glyphicon-remove"></span>
      {{/if}}
  </label>

{{else}}

  {{#x-file-input action=(action "uploadPDF" model) accept=acceptTypes class="btn btn-default"}}
      <span class="	glyphicon glyphicon-plus"></span>
  {{/x-file-input}}
  <a class="btn btn-default view-btn" disabled={{not model.pdf.pdf_path.url}} href={{model.pdf.pdf_path.url}}>
      {{#if model.pdf.pdf_path.url}}
          <span id="pdf-progress-{{model.id}}">View PDF</span>
      {{else}}
          <span id="pdf-progress-{{model.id}}">No File</span>
      {{/if}}

  </a>
  <label class="btn btn-danger" for="pdf-delete-{{model.id}}" disabled={{not model.pdf.pdf_path.url}}>
    {{input id=(concat "pdf-delete-" model.id) type="checkbox" name="Delete PDF" checked=model.remove_pdf_path}}
      {{#if model.remove_pdf_path}}
          <span class="glyphicon glyphicon-ban-circle"></span>
      {{else}}
          <span class="glyphicon glyphicon-remove"></span>
      {{/if}}

  </label>

{{/if}}