<h2>Edit Languages</h2>
{{link-to "Return to Editing Songs" "songs.edit"}}
<div class="div-table table">
    <div class="table-header">
        <span>Name</span>
        <span>Language for</span>
        <span></span>
    </div>
    {{#each model as |language|}}
      <form class="table-row" {{action "autoSave" "language" on="submit"}} >
          <div class="table-cell">{{input type="text" value=language.name}}</div>
          <div class="table-cell">{{csv-list language "songs"}}</div>
          {{#delete-button name=language.name onconfirm=(action "deleteRecord" language)}}Delete Language{{/delete-button}}
      </form>
    {{/each}}
    <button class="btn btn-default" {{action "createRecord" "language"}}>Add New Language</button>
</div>
