<h2>Edit Languages</h2>

<div class="edit-table-box table-responsive">
    <div class="edit-table header">
        <div class="input-med">Name</div>
        <div class="input-long">Songs {{link-to "(edit)" 'songs.edit'}}</div>
    </div>
    {{#each languages as |language|}}
      <div class="edit-table item input-group-sm" {{action "autoSave" "language" on="change"}}>
          <label for="language-name-{{language.id}}" class="sr-only">Name</label>
          {{input
            id=(concat "language-name-" language.id)
            class="input-med form-control"
            value=language.name
            placeholder="unnamed language"
          }}
          <label for="language-songs-{{language.id}}" class="sr-only">Songs</label>
          {{#power-select-multiple
            id=(concat "language-songs-" language.id)
            tagName="div"
            class="input-long"
            selected=language.songs
            options=model.songs
            placeholder="no songs"
            onchange=(action "updateMany" language "song")
            searchField="name"
            as |song|
          }}
            {{song.name}}
          {{/power-select-multiple}}
          {{#delete-button classes="btn-sm" name=language.name onconfirm=(action "deleteRecord" language)}}Delete{{/delete-button}}
      </div>
    {{/each}}
</div>

<button class="btn btn-default" {{action "createRecord" "language"}}>Add New Language</button>
