<h2>Edit Languages</h2>
{{link-to "Return to Editing Songs" "songs.edit"}}
<div class="div-table table">
    <div class="table-header">
        <span>Name</span>
        <span>Language for</span>
        <span></span>
    </div>
    {{#each model.languages as |language|}}
      <form class="table-row" {{action "autoSave" "language" on="submit"}} >
          <div class="table-cell">{{input class="form-control" type="text" value=language.name}}</div>
          <div class="table-cell">
              {{#power-select-multiple
                selected=language.songs
                options=model.songs
                placeholder="Select songs for this language"
                onchange=(action "updateMany" "language" language "song")
                searchField="name"
                as |song|
              }}
                {{song.name}}
              {{/power-select-multiple}}
          </div>
          {{#delete-button name=language.name onconfirm=(action "deleteRecord" language)}}Delete Language{{/delete-button}}
      </form>
    {{/each}}
    <button class="btn btn-default" {{action "createRecord" "language"}}>Add New Language</button>
</div>
