<h2>Edit Books</h2>

<div class="edit-table-box table-responsive">
    <div class="edit-table header">
        <div class="input-med">Title</div>
        <div class="input-med">Editor {{link-to "(edit)" 'editors.edit'}}</div>
        <div class="input-xshort">Year</div>
        <div class="input-xlong">Description</div>
        <div class="input-button">PDF</div>
        <div class="input-button">Thumb</div>
        <div class="input-long">Songs {{link-to "(edit)" 'songs.edit'}}</div>
    </div>
    {{#each model.books as |book|}}
      <div class="edit-table item input-group-sm" {{action "autoSave" "book" on="change"}}>
          <label for="book-name-{{book.id}}" class="sr-only">Title</label>
          {{input
            id=(concat "book-name-" book.id)
            class="input-med form-control"
            value=book.name
            placeholder="unknown title"
            }}
          <label for="book-editor-{{book.id}}" class="sr-only">Editor</label>
          {{#power-select-with-create
            id=(concat "book-editor-" book.id)
            tagName="div"
            class="input-med"
            selected=book.editor
            options=model.editors
            placeholder="unknown editor"
            onchange=(action "updateOne" "book" book "editor")
            oncreate=(action "createOne" "book" book "editor")
            searchField="name"
            as |editor|
          }}
            {{editor.name}}
          {{/power-select-with-create}}
          <label for="book-year-{{book.id}}" class="sr-only">Year</label>
          {{input
            id=(concat "book-year-" book.id)
            class="input-xshort form-control"
            type="number" min="600" max="1800"
            value=book.year
            placeholder="????"
          }}
          <label for="book-desc-{{book.id}}" class="sr-only">Description</label>
          {{textarea
            id=(concat "book-desc-" book.id)
            class="input-xlong form-control"
            cols="40" rows="1"
            placeholder="no description"
            value=book.desc
          }}
          {{file-uploader data-toggle="buttons" model=book}}
          {{file-uploader data-toggle="buttons" type="thumb" model=book}}
          {{#power-select-multiple
            tagName="div"
            class="input-long"
            selected=book.songs
            options=model.songs
            placeholder="no songs for this book"
            onchange=(action "updateMany" "book" book "song")
            searchField="name"
            as |song|
          }}
            {{song.song_no}}. {{song.name}}
          {{/power-select-multiple}}
          {{#delete-button classes="btn-sm" name=book.name onconfirm=(action "deleteRecord" book)}}Delete{{/delete-button}}
      </div>
    {{/each}}
</div>

<button class="btn btn-default" {{action "createRecord" "book"}}>Create New Book</button>
