<h2>Edit Books</h2>
<div class="div-table table">
    <div class="table-header">
        <span>Name</span>
        <span>Editor</span>
        <span>Year</span>
        <span>PDF</span>
        <span>Thumb</span>
        <span></span>
    </div>
  {{#each model.books as |book|}}
    <form class="table-row" {{action "autoSave" "book" on="change"}} onsubmit={{action "prevent"}}>
          <div class="table-cell">{{input type="text" value=book.name}}</div>
          <div class="table-cell">
            {{#power-select-with-create
              selected=book.editor
              placeholder="unknown editor"
              options=model.editors
              onchange=(action "updateOne" "book" book "editor")
              oncreate=(action "createOne" "book
              " book "editor")
              searchField="name"
            as |editor|
            }}
              {{editor.name}}
            {{/power-select-with-create}}
          </div>
          <div class="table-cell">{{input type="number" min="600" max="1800" size="4" value=book.year}}</div>
          <div class="table-cell">
              <div>
                {{#if book.pdf.pdf_path.url}}
                    <a href={{book.pdf.pdf_path.url}}>pdf</a>
                {{/if}}
                  <span id="pdf-progress-{{book.id}}"></span>
                  <div>
                    {{#if book.pdf.pdf_path.url}}
                        <label for={{concat "pdf-delete-" book.id}} class="btn btn-danger">
                          {{input id=(concat "pdf-delete-" book.id) type="checkbox" name="Delete PDF" checked=book.remove_pdf_path}} Delete
                        </label>
                    {{/if}}
                    {{x-file-input action=(action "uploadPDF" book) accept="application/pdf" class="btn btn-default" value="Upload"}}
                  </div>
              </div>
          </div>
        <div class="table-cell">
            <div>
              {{#if (not-eq book.thumb.thumb_path.url "http://localhost:3000/fallback/default.png")}}
                  <a href={{book.thumb.thumb_path.url}}>thumb</a>
              {{/if}}
                <span id="thumb-progress-{{book.id}}"></span>
                <div>
                  {{#if (not-eq book.thumb.thumb_path.url "http://localhost:3000/fallback/default.png")}}
                      <label for={{concat "thumb-delete-" book.id}} class="btn btn-danger">
                    {{input id=(concat "thumb-delete-" book.id) type="checkbox" name="Delete Thumb" checked=book.remove_thumb_path}} Delete
                      </label>
                  {{/if}}
                  {{x-file-input action=(action "uploadThumb" book) accept="image/png,image/jpg" class="btn btn-default" value="Upload"}}
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-danger" {{action "deleteRecord" book}}>Delete Book</button>

      </form>
  {{/each}}
  <button class="btn btn-default" {{action "createRecord" "book"}}>Create New Book</button>
</div>

