<div>
    <h2>Edit Songs</h2>
    <div class="table">
        <div>
            <span>Song</span>
            <span>Song #</span>
            <span>Parts #</span>
            <span>Has Text?</span>
            <span>Language</span>
            <span>PDF</span>
            <span>Composer</span>
            <span>Book</span>
            <!--<span>Tags</span>-->
        </div>
        {{#each model.songs as |song|}}
          <form {{action "update" song on="submit"}}>
              {{input type="text" value=song.name}}
              {{input type="text" value=song.song_no}}
              {{input type="text" value=song.has_text}}
              {{input type="text" value=song.language.name}}
              {{input type="text" value=song.pdf.pdf_path.url}} <!--currently posts full link.  change out for thing that shows if pdf exists, allows upload of new one or deletion of current one-->
              {{#power-select-with-create
                  selected=song.composer
                  options=model.composers
                  onchange=(action (mut song.composer))
                  oncreate=(action "createComposer" song)
                  searchField="name"
                  as |composer|
              }}
                {{composer.name}}
              {{/power-select-with-create}}
              {{#power-select
                  selected=song.book
                  options=model.books
                  onchange=(action (mut song.book))
                  searchField="name"
                  as |book|
              }}
                {{book.name}}
              {{/power-select}}
              {{#power-select-multiple
                  selected=song.tags
                  options=model.tags
                  placeholder="Select tags for this song"
                  onchange=(action (mut song.tags))
                  searchField="name"
                  as |tag|
              }}
                {{tag.name}}
              {{/power-select-multiple}}
              {{input type="submit"}}
          </form>
        {{/each}}
    </div>
</div>
