<h2>Edit Songs</h2>

<div class="edit-table-box table-responsive">
  <div class="edit-table header">
    <div class="input-long">Book {{link-to "(edit)" 'books.edit'}}</div>
    <div class="input-xshort">Song No.</div>
    <div class="input-med">Name</div>
    <div class="input-med">Composer {{link-to "(edit)" 'composers.edit'}}</div>
    <div class="input-xshort">Parts No.</div>
    <div class="input-long">Languages {{link-to "(edit)" 'languages.edit'}}</div>
    <div class="input-long">Tags {{link-to "(edit)" 'tags.edit'}}</div>
    <div class="input-button">PDF</div>
  </div>
  {{#each songs as |song|}}
    <div class="edit-table item input-group-sm" {{action "autoSave" "song" on="change"}}>
        <label for="song-book-{{song.id}}" class="sr-only">Book</label>
        {{#power-select
          id=(concat "song-book-" song.id)
          tagName="div"
          class="input-long"
          selected=song.book
          options=model.books
          placeholder="unknown book"
          onchange=(action "updateOne" song "book")
          searchField="name"
        as |book|
        }}
          {{book.name}} by {{book.editor.name}}
        {{/power-select}}
        <label for="song-no-{{song.id}}" class="sr-only">Song No.</label>
        {{input
          id=(concat "song-no-" song.id)
          class="input-xshort form-control"
          type="number" min="1" max="99"
          value=song.song_no
          placeholder="?"
        }}
        <label for="song-name-{{song.id}}" class="sr-only">Name</label>
        {{input
          id=(concat "song-name-" song.id)
          class="input-med form-control"
          value=song.name
          placeholder="unknown name"
        }}
        <label for="song-composer-{{song.id}}" class="sr-only">Composer</label>
        {{#power-select-with-create
          id=(concat "song-composer-" song.id)
          tagName="div"
          class="input-med"
          selected=song.composer
          options=model.composers
          placeholder="unknown composer"
          onchange=(action "updateOne" song "composer")
          oncreate=(action "createOne" song "composer")
          searchField="name"
        as |composer|
        }}
          {{composer.name}}
        {{/power-select-with-create}}
        <label for="song-parts-no-{{song.id}}" class="sr-only">Number of Parts</label>
        {{input
          id=(concat "song-parts-no-" song.id)
          class="input-xshort form-control"
          type="number" min="1" max="9"
          value=song.parts_no
          placeholder="?"
        }}
        <label for="song-languages-{{song.id}}" class="sr-only">Languages</label>
        {{#power-select-multiple
          id=(concat "song-languages-" song.id)
          tagName="div"
          class="input-long"
          selected=song.languages
          options=model.languages
          placeholder="no languages"
          onchange=(action "updateMany" song "language")
          onkeydown=(action "createMany" song "language")
          searchField="name"
          as |language|
        }}
          {{language.name}}
        {{/power-select-multiple}}
        <label for="song-tags-{{song.id}}" class="sr-only">Tags</label>
        {{#power-select-multiple
          id=(concat "song-tags-" song.id)
          tagName="div"
          class="input-long"
          selected=song.tags
          options=model.tags
          placeholder="no tags"
          onchange=(action "updateMany" song "tag")
          onkeydown=(action "createMany" song "tag")
          searchField="name"
          as |tag|
        }}
          {{tag.name}}
        {{/power-select-multiple}}
        {{file-uploader data-toggle="buttons" model=song}}
        {{hold-button
          delay=deleteDelay
          class="delete-song"
          action=(action "deleteRecord" song)
        }}
    </div>
  {{/each}}
</div>
<div class="edit-table-box table-responsive">
    <div class="edit-table header">
        <div class="input-long">Book {{link-to "(edit)" 'books.edit'}}</div>
        <div class="input-xshort">Song No.</div>
        <div class="input-med">Name</div>
        <div class="input-med">Composer {{link-to "(edit)" 'composers.edit'}}</div>
        <div class="input-xshort">Parts No.</div>
        <div class="input-long">Languages {{link-to "(edit)" 'languages.edit'}}</div>
        <div class="input-long">Tags {{link-to "(edit)" 'tags.edit'}}</div>
    </div>
    <form id="newRecord" class="edit-table input-group-sm" method="post">
        <label for="new-song-book" class="sr-only">Book</label>
      {{#power-select
        id="new-song-book"
        tagName="div"
        class="input-long"
        selected=newRecord.book
        options=model.books
        placeholder="unknown book"
        onchange=(action (mut newRecord.book))
        searchField="name"
      as |book|
      }}
        {{book.name}} by {{book.editor.name}}
      {{/power-select}}
        <label for="new-song-song-no" class="sr-only">Song No.</label>
      {{input
        id="new-song-song-no"
        class="input-xshort form-control"
        type="number" min="1" max="99"
        value=newRecord.song_no
        placeholder="?"
      }}
        <label for="new-song-name" class="sr-only">Name</label>
      {{input
        class="input-med form-control"
        value=newRecord.name
        placeholder="unknown name"
      }}
        <label for="new-song-composer" class="sr-only">Composer</label>
      {{#power-select-with-create
        id="new-song-composer"
        tagName="div"
        class="input-med"
        selected=newRecord.composer
        options=model.composers
        placeholder="unknown composer"
        onchange=(action (mut newRecord.composer))
        oncreate=(action "createOne" "newRecord" "composer")
        searchField="name"
      as |composer|
      }}
        {{composer.name}}
      {{/power-select-with-create}}
        <label for="new-song-parts-no" class="sr-only">Parts No.</label>
      {{input
        id="new-song-parts-no"
        class="input-xshort form-control"
        type="number" min="1" max="9"
        value=newRecord.parts_no
        placeholder="?"
      }}
        <label for="new-song-languages" class="sr-only">Languages</label>
      {{#power-select-multiple
        id="new-song-languages"
        tagName="div"
        class="input-long"
        selected=newRecord.languages
        options=model.languages
        placeholder="no languages"
        onchange=(action (mut newRecord.languages))
        onkeydown=(action "createMany" "newRecord" "language")
        searchField="name"
      as |language|
      }}
        {{language.name}}
      {{/power-select-multiple}}
        <label for="new-song-tags" class="sr-only">Tags</label>
      {{#power-select-multiple
        id="new-song-tags"
        tagName="div"
        class="input-long"
        selected=newRecord.tags
        options=model.tags
        placeholder="no tags"
        onchange=(action (mut newRecord.tags))
        onkeydown=(action "createMany" "newRecord" "tag")
        searchField="name"
      as |tag|
      }}
        {{tag.name}}
      {{/power-select-multiple}}
        <button class="btn btn-default btn-sm input-button" {{action 'createRecord' 'song' newRecord}}>
            Add New Song
        </button>
    </form>
</div>









