<h2>Edit Songs</h2>

<div class="edit-table-box table-responsive">
  <div class="edit-table header">
    <div class="input-long">Book {{link-to "(edit)" 'books.edit'}}</div>
    <div class="input-xshort">Song No.</div>
    <div class="input-med">Name</div>
    <div class="input-med">Composer {{link-to "(edit)" 'composers.edit'}}</div>
    <div class="input-xshort">Parts No.</div>
    <div class="input-long">Languages {{link-to "(edit)" 'languages.edit'}}</div>
    <div class="input-long">Tags {{link-to "(edit)" 'tags.edit'}}</div>
    <div class="input-button">PDF</div>
  </div>
  {{#each songs as |song|}}
    <div class="edit-table item input-group-sm" {{action "autoSave" "song" on="change"}}>
        <label for="song-book-{{song.id}}" class="sr-only">Book</label>
        {{#power-select
          id=(concat "song-book-" song.id)
          tagName="div"
          class="input-long"
          selected=song.book
          options=model.books
          placeholder="unknown book"
          onchange=(action "updateOne" song "book")
          searchField="name"
        as |book|
        }}
          {{book.name}} by {{book.editor.name}}
        {{/power-select}}
        <label for="song-no-{{song.id}}" class="sr-only">Song No.</label>
        {{input
          id=(concat "song-no-" song.id)
          class="input-xshort form-control"
          type="number" min="1" max="99"
          value=song.song_no
          placeholder="?"
        }}
        <label for="song-name-{{song.id}}" class="sr-only">Name</label>
        {{input
          id=(concat "song-name-" song.id)
          class="input-med form-control"
          value=song.name
          placeholder="unknown name"
        }}
        <label for="song-composer-{{song.id}}" class="sr-only">Composer</label>
        {{#power-select-with-create
          id=(concat "song-composer-" song.id)
          tagName="div"
          class="input-med"
          selected=song.composer
          options=model.composers
          placeholder="unknown composer"
          onchange=(action "updateOne" song "composer")
          oncreate=(action "createOne" song "composer")
          searchField="name"
        as |composer|
        }}
          {{composer.name}}
        {{/power-select-with-create}}
        <label for="song-parts-no-{{song.id}}" class="sr-only">Number of Parts</label>
        {{input
          id=(concat "song-parts-no-" song.id)
          class="input-xshort form-control"
          type="number" min="1" max="9"
          value=song.parts_no
          placeholder="?"
        }}
        <label for="song-languages-{{song.id}}" class="sr-only">Languages</label>
        {{#power-select-multiple
          id=(concat "song-languages-" song.id)
          tagName="div"
          class="input-long"
          selected=song.languages
          options=model.languages
          placeholder="no languages"
          onchange=(action "updateMany" song "language")
          onkeydown=(action "createMany" song "language")
          searchField="name"
          as |language|
        }}
          {{language.name}}
        {{/power-select-multiple}}
        <label for="song-tags-{{song.id}}" class="sr-only">Tags</label>
        {{#power-select-multiple
          id=(concat "song-tags-" song.id)
          tagName="div"
          class="input-long"
          selected=song.tags
          options=model.tags
          placeholder="no tags"
          onchange=(action "updateMany" song "tag")
          onkeydown=(action "createMany" song "tag")
          searchField="name"
          as |tag|
        }}
          {{tag.name}}
        {{/power-select-multiple}}
        {{file-uploader data-toggle="buttons" model=song}}
        {{#delete-button classes="btn-sm" name=song.name onconfirm=(action "deleteRecord" song)}}Delete{{/delete-button}}
    </div>
  {{/each}}
</div>

<form id="newSong" class="edit-table edit-table-box input-group-sm" method="post">
  {{#power-select
    tagName="div"
    class="input-long"
    selected=newSong.book
    options=model.books
    placeholder="unknown book"
    onchange=(action (mut newSong.book))
    searchField="name"
  as |book|
  }}
    {{book.name}} by {{book.editor.name}}
  {{/power-select}}

  {{input
    class="input-med form-control"
    value=newSong.name
    placeholder="unknown name"
  }}
    <button class="btn btn-default btn-sm" {{action 'createRecord' 'song' newSong}}>Add New Song</button>
</form>







