<h2>Edit Collections</h2>

<div class="edit-table-box table-responsive">
    <div class="edit-table header">
        <div class="input-med">Name</div>
        <div class="input-med">Creator</div>
        <div class="input-xlong">Description</div>
        <div class="input-button">PDF</div>
        <div class="input-button">Thumb</div>
    </div>
  {{#each collections as |collection|}}
      <div class="edit-table item input-group-sm" {{action "autoSave" "collection" on="change"}}>
          <label for="collection-name-{{collection.id}}" class="sr-only">Name</label>
          {{input
            id=(concat "collection-name-" collection.id)
            class="input-med form-control"
            value=collection.name
            placeholder="unknown name"
          }}
          <label for="collection-creator-{{collection.id}}" class="sr-only">Creator</label>
          {{input
            id=(concat "collection-creator-" collection.id)
            class="input-med form-control"
            value=collection.creator
            placeholder="unknown creator"
          }}
          <label for="collection-desc-{{collection.id}}" class="sr-only">Description</label>
          {{textarea
            id=(concat "collection-desc-" collection.id)
            class="input-xlong form-control"
            cols="40" rows="1"
            placeholder="no description"
            value=collection.desc
          }}
          {{file-uploader data-toggle="buttons" model=collection}}
          {{file-uploader data-toggle="buttons" type="thumb" model=collection}}
          {{#delete-button classes="btn-sm" name=collection.name onconfirm=(action "deleteRecord" collection)}}Delete{{/delete-button}}
      </div>
  {{/each}}
</div>

<button class="btn btn-default" {{action "createRecord" "collection"}}>Create New Collection</button>
