<h2>Edit Tags</h2>

<div class="edit-table-box table-responsive">
    <div class="edit-table header">
        <div class="input-med">Name</div>
        <div class="input-long">Songs {{link-to "(edit)" 'songs.edit'}}</div>
    </div>
    {{#each tags as |tag|}}
      <div class="edit-table item input-group-sm" {{action "autoSave" "language" on="change"}}>
          <label for="tag-name-{{tag.id}}" class="sr-only">Name</label>
          {{input
            id=(concat "tag-name-" tag.id)
            class="input-med form-control"
            value=tag.name
            placeholder="unnamed tag"
          }}
          <label for="tag-songs-{{tag.id}}" class="sr-only">Songs</label>
          {{#power-select-multiple
            id=(concat "tags-songs-" tag.id)
            tagName="div"
            class="input-long"
            selected=tag.songs
            options=model.songs
            placeholder="no songs"
            onchange=(action "updateMany" tag "song")
            searchField="name"
            as |song|
          }}
            {{song.name}}
          {{/power-select-multiple}}
          {{hold-button
            delay=deleteDelay
            class="delete-tag"
            action=(action "deleteRecord" tag)
          }}
      </div>
    {{/each}}
</div>
<div class="edit-table-box table-responsive">
    <div class="edit-table header">
        <div class="input-med">Name</div>
        <div class="input-long">Songs {{link-to "(edit)" 'songs.edit'}}</div>
    </div>
    <form id="newRecord" class="edit-table input-group-sm" method="post">
        <label for="new-tag-name" class="sr-only">Name</label>
        {{input
          id="new-tag-name"
          class="input-med form-control"
          value=newRecord.name
          placeholder="unnamed tag"
        }}
        <label for="new-tag-songs" class="sr-only">Songs</label>
        {{#power-select-multiple
          id="new-tag-songs"
          tagName="div"
          class="input-long"
          selected=newRecord.songs
          options=model.songs
          placeholder="no songs"
          onchange=(action (mut newRecord.songs))
          searchField="name"
        as |song|
        }}
          {{song.name}}
        {{/power-select-multiple}}
        <button class="btn btn-default btn-sm input-button" {{action 'createRecord' 'tag' newRecord}}>
            Add New Tag
        </button>
    </form>
</div>
