<h2>Edit Tags</h2>
{{link-to "Return to editing songs" 'songs.edit'}}
<div class="div-table table">
    <div class="table-header">
        <span>Name</span>
        <span>Tag For</span>
        <span></span>
    </div>
    {{#each model as |tag|}}
      <form class="table-row" {{action "autoSave" "tag" on="submit"}} >
          <div class="table-cell">{{input type="text" value=tag.name}}</div>
          <div class="table-cell">{{csv-list tag "songs"}}</div>
          {{#delete-button name=tag.name onconfirm=(action "deleteRecord" tag)}}Delete Tag{{/delete-button}}
      </form>
    {{/each}}
    <button class="btn btn-default" {{action "createRecord" "tag"}}>Create New Tag</button>
</div>