<h2>Edit Tags</h2>
{{link-to "Return to editing songs" 'songs.edit'}}
<div class="div-table table">
    <div class="table-header">
        <span>Name</span>
        <span>Tag For</span>
        <span></span>
    </div>
    {{#each model.tags as |tag|}}
      <form class="table-row" {{action "autoSave" "tag" on="submit"}} >
          <div class="table-cell">{{input class="form-control" type="text" value=tag.name}}</div>
          <div class="table-cell">
              {{#power-select-multiple
                selected=tag.songs
                options=model.songs
                placeholder="Select songs for this tag"
                onchange=(action "updateMany" "tag" tag "song")
                searchField="name"
                as |song|
              }}
                {{song.name}}
              {{/power-select-multiple}}
          </div>
          {{#delete-button name=tag.name onconfirm=(action "deleteRecord" tag)}}Delete Tag{{/delete-button}}
      </form>
    {{/each}}
    <button class="btn btn-default" {{action "createRecord" "tag"}}>Create New Tag</button>
</div>