<h2>Edit Editors</h2>

<div class="edit-table-box table-responsive">
    <div class="edit-table header">
        <div class="input-med">Name</div>
        <div class="input-long">Books {{link-to "(edit)" 'books.edit'}}</div>
    </div>
  {{#each editors as |editor|}}
      <div class="edit-table item input-group-sm" {{action "autoSave" "editor" on="change"}}>
          <label for="editor-name-{{editor.id}}" class="sr-only">Name</label>
        {{input
          id=(concat "editor-name-" editor.id)
          class="input-med form-control"
          value=editor.name
          placeholder="unnamed editor"
        }}
          <label for="editor-books-{{editor.id}}" class="sr-only">Books</label>
        <div class="input-long">{{csv-list editor "books"}}</div>
        {{#delete-button classes="btn-sm" name=editor.name onconfirm=(action "deleteRecord" editor)}}Delete{{/delete-button}}
      </div>
  {{/each}}
</div>

<button class="btn btn-default" {{action "createRecord" "editor"}}>Add New Editor</button>
