<h2>Edit Editors</h2>

<div class="edit-table-box table-responsive">
    <div class="edit-table header">
        <div class="input-med">Name</div>
        <div class="input-long">Books {{link-to "(edit)" 'books.edit'}}</div>
    </div>
  {{#each editors as |editor|}}
      <div class="edit-table item input-group-sm" {{action "autoSave" "editor" on="change"}}>
          <label for="editor-name-{{editor.id}}" class="sr-only">Name</label>
        {{input
          id=(concat "editor-name-" editor.id)
          class="input-med form-control"
          value=editor.name
          placeholder="unnamed editor"
        }}
          <label for="editor-books-{{editor.id}}" class="sr-only">Books</label>
        <div class="input-long">{{csv-list editor "books"}}</div>
        {{hold-button
          delay=deleteDelay
          class="delete-editor"
          action=(action "deleteRecord" editor)
        }}
      </div>
  {{/each}}
</div>
<div class="edit-table-box table-responsive">
    <div class="edit-table header">
        <div class="input-med">Name</div>
    </div>
    <form id="newRecord" class="edit-table input-group-sm" method="post">
        <label for="new-editor-name" class="sr-only">Name</label>
        {{input
          id="new-editor-name"
          class="input-med form-control"
          value=newRecord.name
          placeholder="unnamed editor"
        }}
        <button class="btn btn-default btn-sm input-button" {{action 'createRecord' 'editor' newRecord}}>
            Add New Editor
        </button>
    </form>
</div>
