<div class="container">
  <h1>{{link-to "Broken Consort" 'index'}}</h1>
    <ul class="menu">
        <li>{{link-to "Songs" 'songs'}}</li>
        <!--<li>{{link-to "Books" 'books'}}</li>-->
        <!--<li>{{link-to "Collections" 'collections'}}</li>-->
        <li>{{link-to "About" 'about'}}</li>
    </ul>
    <div class="body">
      {{outlet}}
    </div>
</div>