<div class="site-container">
    {{ember-notify messageStyle='bootstrap'}}
    <header>
        <h1>{{link-to "Broken Consort" 'index'}}</h1>
    </header>
    <nav>
      <ul class="menu">
          <li>{{link-to "Songs" 'songs'}} {{link-to "(edit)" 'songs.edit'}}</li>
          <li>{{link-to "Books" 'books'}} {{link-to "(edit)" 'books.edit'}}</li>
          <li>{{link-to "Collections" 'collections'}}</li>
      </ul>
    </nav>
    <main>
        {{outlet}}
    </main>
    <div class="flex-spacer"></div>
    <footer>
        <p>Transcriptions by Emma Badowski, website by Matthew Barry. Questions or comments? Email us at
            <a href="mailto:contact@brokenconsort.net">contact@brokenconsort.net</a>.</p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
        </a><br />
        This work is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
        </a>.
    </footer>
</div>