<h2>Books</h2>

<div><label> Filter All: {{input value=q_all }}</label></div>
<div class="div-hover">
  {{#if noResults}}
    <div>
        <strong>No books found.  Try changing filter terms!</strong>
    </div>
  {{else}}
    {{#each filteredModel as |book|}}
      <div class="listing book-list" {{action "toggleDisplay" book.id}}>
          <div>{{link-to-pdf book}}</div>
          <div>
              <h3>{{book.name}}</h3>
              <p class="author">{{book.editor.name}} ({{book.year}})</p>
              <p>{{book.desc}}</p>
              <div id="data-toggle-{{book.id}}" class="hidden">
                  {{#song-list model=book}}Songs in this book: {{/song-list}}
              </div>
          </div>
      </div>

    {{/each}}
  {{/if}}
</div>
