<div>
    <h2>Transcribed Renaissance Music</h2>
  <label>Filter By:</label>
  {{input type="text" value=searchTerm}}

  <table class="table">
    <thead>
    <tr>
        <th colspan="3">Book</th>
        <th colspan="5">Song</th>
    </tr>
    <tr>
        <!-- note: for sortable columns, id=dasherized-model-property", onclick=(action "setSortBy")-->
        <th>{{#list-sortable id="book-name" onclick=(action "setSortBy")}}Title{{/list-sortable}}</th>
        <th>{{#list-sortable id="book-editor-name" onclick=(action "setSortBy")}}Editor{{/list-sortable}}</th>
        <th>{{#list-sortable id="book-year" onclick=(action "setSortBy")}}Year{{/list-sortable}}</th>
        <th>{{#list-sortable id="song_no" onclick=(action "setSortBy")}}No.{{/list-sortable}}</th>
        <th>{{#list-sortable id="name" onclick=(action "setSortBy")}}Name{{/list-sortable}}</th>
        <th>Text Languages</th>
        <th>Tags</th>
        <th>Download</th>
    </tr>

    </thead>
    <tbody>
    {{#each sortedSongs as |song|}}
        <tr class="listing">
            <td>{{song.book.name}}</td>
            <td>{{song.book.editor.name}}</td>
            <td>{{song.book.year}}</td>
            <td>{{song.song_no}}</td>
            <td>{{song.name}}</td>
            <td>{{csv-list song "languages"}}</td>
            <td>{{csv-list song "tags"}}</td>
            <td>{{link-to-pdf song}}</td>
        </tr>
    {{/each}}
    </tbody>
  </table>

</div>


