<div>
    <h2>Transcribed Renaissance Music</h2>
    <table>
        <tr>
            <th colspan="3">Book</th>
            <th colspan="5">Song</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Editor</th>
            <th>Year</th>
            <th>#</th>
            <th>Name</th>
            <th>Parts #</th>
            <th>Text Language</th>
            <th>Download</th>
        </tr>
        {{#each model as |song|}}
          {{#if song.pdf.pdf_path.url}}
            <tr class="listing">
                <td>{{song.book.name}}</td>
                <td>{{song.book.editor.name}}</td>
                <td>({{song.book.year}})</td>
                <td>{{song.song_no}}</td>
                <td>{{song.name}}</td>
                <td>{{song.parts_no}}</td>
                <td>
                  {{#each song.languages as |language|}}
                    {{language.name}},
                  {{else}}
                    <em>No lyrics</em>
                  {{/each}}
                </td>
                <td><a href={{song.pdf.pdf_path.url}}>pdf</a></td>
            </tr>
          {{/if}}
        {{/each}}
    </table>

</div>


