<h2>Transcribed Renaissance Music</h2>

<div><label> Filter All: {{input class="form-control" value=q_all }}</label></div>
<table class="table table-striped">
  <thead>
  <tr>
      <th colspan="3">Book</th>
      <th colspan="5">Song</th>
  </tr>
  <tr>
      <th>{{#list-sortable sortBy "book.name"}}Title{{/list-sortable}}</th>
      <th>{{#list-sortable sortBy "book.editor.name"}}Editor{{/list-sortable}}</th>
      <th>{{#list-sortable sortBy "book.year"}}Year{{/list-sortable}}</th>
      <th>{{#list-sortable sortBy "song_no"}}No.{{/list-sortable}}</th>
      <th>{{#list-sortable sortBy "name"}}Name{{/list-sortable}}</th>
      <th>Text Languages</th>
      <th>Tags</th>
      <th>Download</th>
  </tr>

  <tr>
      <th><label class="hidden"> Book Title: </label>{{input class="form-control" value=q_book_title }}</th>
      <th><label class="hidden"> Editor: </label>{{input class="form-control" value=q_editor }}</th>
      <th><label class="hidden"> Year: </label>{{input class="form-control" type="number" min="600" max="1800" size="4" value=q_year }}</th>
      <th><label class="hidden"> Song Number: </label>{{input class="form-control" type="number" min="1" max="99" size="2" value=q_song_no }}</th>
      <th><label class="hidden"> Song Name: </label>{{input class="form-control" value=q_title }}</th>
      <th><label class="hidden"> Languages: </label>{{input class="form-control" value=q_languages }}</th>
      <th><label class="hidden"> Tags: </label>{{input class="form-control" value=q_tags }}</th>
      <th></th>
  </tr>

  </thead>
  <tbody>
  {{#if noResults}}
      <tr>
          <td colspan="8">No songs found.  Try removing some filters!</td>
      </tr>
  {{else}}
    {{#each sortedSongs as |song|}}
        <tr class="listing">
            <td>{{song.book.name}}</td>
            <td>{{song.book.editor.name}}</td>
            <td>{{song.book.year}}</td>
            <td>{{song.song_no}}</td>
            <td>{{song.name}}</td>
            <td>{{csv-list song "languages"}}</td>
            <td>{{csv-list song "tags"}}</td>
            <td>{{link-to-pdf song}}</td>
        </tr>
    {{/each}}
  {{/if}}
  </tbody>
</table>


