<h2>Transcribed Renaissance Music</h2>

<div class="input-group-sm">
    <label class="input-long" for="filter-all">Filter All</label>
  {{input id="filter-all" class="form-control input-long" value=q_all}}
</div>

<a class="input-long btn btn-default" href={{href-to 'songs'}}>Reset Table</a>

<div class="input-group-sm {{if showHideColumns "dropup"}}">
    <button class="input-long" type="button" {{action "togglePanel"}}>
        Hide Columns <span class="caret"></span>
    </button>
  {{#if isExpanded}}
    <div class="input-long panel panel-default">
        <div class="panel-body">
            {{#each tableColumns as |column|}}
              <button class="btn input-short {{if (array-contains visibleColumns column) "btn-default" "btn-danger"}}" {{action "toggleVisibility" column.value}}>{{column.name}}</button>
            {{/each}}
        </div>
    </div>
  {{/if}}
</div>


<table class="table table-striped">
  <thead>
  <tr>
      {{#if visibleBooks}}<th colspan="{{visibleBooks.length}}">Book</th>{{/if}}
      {{#if visibleSongs}}<th colspan="{{visibleSongs.length}}">Song</th>{{/if}}
  </tr>
  <tr class="column-names">
      {{#each tableColumns as |column|}}
        {{#column-hider column.value hidden}}
            <th>
              {{#if column.sortable}}
                {{#list-sortable sortBy column.model}}
                  {{column.name}}
                {{/list-sortable}}
              {{else}}
                {{column.name}}
              {{/if}}
          </th>
        {{/column-hider}}
      {{/each}}
  </tr>

  <tr class="filters">
      {{#each tableColumns as |column|}}
        {{#column-hider column.value hidden}}
          {{#song-filter for=column.value param=column.param onChange=(action "updateParam" column.paramName) type=column.type min=column.min max=column.max size=column.size}}
            {{column.name}}
          {{/song-filter}}
        {{/column-hider}}
      {{/each}}
{{!--
      {{#column-hider "title" hidden}}
        {{#song-filter for="book-title" param=q_book_title onChange=(action "updateParam" "q_book_title")}}
            Book Title:
        {{/song-filter}}
      {{/column-hider}}
      {{#column-hider "editor" hidden}}
        {{#song-filter for="editor" param=q_editor onChange=(action "updateParam" "q_editor")}}
          Editor:
        {{/song-filter}}
      {{/column-hider}}
      {{#column-hider "year" hidden}}
        {{#song-filter for="year" param=q_year onChange=(action "updateParam" "q_year") type="number" min="600" max="1800" size="4"}}
          Year:
        {{/song-filter}}
      {{/column-hider}}
      {{#column-hider "song-no" hidden}}
        {{#song-filter for="song-no" param=q_song_no onChange=(action "updateParam" "q_song_no") type="number" min="1" max="99" size="2"}}
          Song Number:
        {{/song-filter}}
      {{/column-hider}}
      {{#column-hider "name" hidden}}
        {{#song-filter for="name" param=q_title onChange=(action "updateParam" "q_title")}}
          Song Name:
        {{/song-filter}}
      {{/column-hider}}
      {{#column-hider "composer" hidden}}
        {{#song-filter for="
      {{/column-hider}}
      {{#column-hider "composer" hidden}}<th><label class="hidden">Composer:</label>{{input class="form-control" value=q_creator}}</th>{{/column-hider}}
      {{#column-hider "parts-no" hidden}}<th><label class="hidden">Number of Parts:</label>{{input class="form-control" type="number" min="1" max="9" value=q_parts_no}}</th>{{/column-hider}}
      {{#column-hider "languages" hidden}}<th><label class="hidden"> Languages: </label>{{input class="form-control" value=q_languages }}</th>{{/column-hider}}
      {{#column-hider "tags" hidden}}<th><label class="hidden"> Tags: </label>{{input class="form-control" value=q_tags }}</th>{{/column-hider}}
      {{#column-hider "download" hidden}}<th></th>{{/column-hider}}
      --}}
  </tr>

  </thead>
  <tbody>
  {{#if noResults}}
      <tr>
          <td colspan="{{add visibleBooks.length visibleSongs.length}}">
              No songs found.  Try removing some filters!
          </td>
      </tr>
  {{else}}
    {{#each sortedSongs as |song|}}
        <tr class="listing">
            {{#column-hider "title" hidden}}<td>{{song.book.name}}</td>{{/column-hider}}
            {{#column-hider "editor" hidden}}<td>{{song.book.editor.name}}</td>{{/column-hider}}
            {{#column-hider "year" hidden}}<td>{{song.book.year}}</td>{{/column-hider}}
            {{#column-hider "song-no" hidden}}<td>{{song.song_no}}</td>{{/column-hider}}
            {{#column-hider "name" hidden}}<td>{{song.name}}</td>{{/column-hider}}
            {{#column-hider "composer" hidden}}<td>{{song.composer.name}}</td>{{/column-hider}}
            {{#column-hider "parts-no" hidden}}<td>{{song.parts_no}}</td>{{/column-hider}}
            {{#column-hider "languages" hidden}}<td>{{csv-list song "languages"}}</td>{{/column-hider}}
            {{#column-hider "tags" hidden}}<td>{{csv-list song "tags"}}</td>{{/column-hider}}
            {{#column-hider "download" hidden}}<td>{{link-to-pdf song}}</td>{{/column-hider}}
        </tr>
    {{/each}}
  {{/if}}
  </tbody>
</table>


